/* *{
    margin: 0%;
    padding: 0%;
} */
*{
  margin: 0%;
  padding: 0%;
  font-family: 'Mulish', sans-serif;
}
/*@media screen 320px-480px {
    
}
@media screen 481px-768px {
    
}
@media screen 769px-1024px {
    
}
@media screen 1025px-1200px {
    
}*/

.fnav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(42, 42, 68);
  color: white;
  padding: 6px;
  height: 70px;
}
.fnav img{
width: 20%;
height: 40px;
margin-top: 10px;
color: white;
margin-inline: 22px;

}
.left{
display: flex;
margin-left: 20px;
}
.left input{
  width:480px;
height: 33px;
border-radius: 2px;
border: none;
margin-top: 10px;
font-size: 14px;
text-align: center;
}
.fnav .right{
display: flex;
margin-right: 30px;
}
/*Weather*/
#weatherCoupon{
  height:300px;
  width: 500px;
  z-index: 100;
  background-color: rgb(190, 201, 208);
  visibility: hidden;
  position: absolute;
  margin-top: 18%;
  margin-left: 30%;

}
#weatherCoupon button{
  width: 4%;
  height: 35px;
  float: right;
  font-size: 25px;
  border: none;
  border-radius: 0px 10px 0px 10px;
  z-index: 1;
}

#weatherCoupon p{
  margin: 30px;
  width:auto;
  color: #000000;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sign{
width: 80px;
height: 27px;
background-color: rgb(252, 58, 91);
color: white;
border: none;
border-radius: 4px;
margin-top: 15px;
margin-inline: 22px;

}
.right i{
font-size: 22px;
margin-inline: 22px;
margin-top: 17px;
}
.right p{
font-size: 19px;
margin-inline: 22px;
}
.location{
  color: white;
  
  margin-top: 20px;
  
  height: 40px;
}
#location{
  height:25px;
  font-size: 14px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:rgb(42, 42, 68);
  width:90px;
  outline: none;
  border:none;
}
select{
  background-color:rgb(42, 42, 68) ;
}

.bulb{
  height:30px;
  margin-bottom: 5px;  
}
.dark-mode{
  background-color: black;
  color: white;
}
body {
  background-color: white;
  color: black;
}

  .navbar2{
    background-color: rgb(31, 31, 66);
    padding-top: 10px;
    height: 50px; 
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .head1{     
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
   
  }
  .head1 p{
    margin-inline: 15px;
  }
  .head2{
    display:flex;
  }
  .head2 p{
    margin-inline: 15px;
  }
  .navbar2 p{
    color: white;
    text-decoration: none;
  }
  h2 h3{
  color: white;
 }


.container{
  /*border:2px solid rgb(100, 9, 9);*/
  margin-top: 23px;
  height: 300px;
  width: 100%;
}
/*coupon*/
#coupon{
  height: 350px;
  width:680px;
  background-image: url(images/coupon.png);
  background-size: cover;
  position: absolute;
  margin-top: 18%;
  margin-left: 30%;
  z-index: 20;
  visibility: hidden;
  border-radius: 10px;
}
#coupon button {
  width: 4%;
  height: 35px;
  float: right;
  font-size: 25px;
  border: none;
  border-radius: 0px 10px 0px 10px;
  z-index: 1;
}
/*image slider*/
.imgSlider{
  width:100%;
  height:100% !important;
}

.carousel-inner {
  max-width: 100%; /* Set a maximum width for the slideshow container */
  margin: 0 auto; /* Center the slideshow container */
}

.carousel-inner .item img {
  max-width: 100%; /* Set a maximum width for the images within the slideshow */
  height: auto; 
}
  #img1{
    margin-top: 60px;
    width:93%;
    border-radius: 8px;
    margin-left: 65px;
  }
  #img2{
    margin-top: 60px;
    width:92%;
    border-radius: 8px;
    margin-left: 65px;
    margin-bottom: 20px;
  }
  .card img{
    width: 80%;
    border-radius: 8px;
    /* display:flex; */
  }
  .cards{
    display: flex;
    text-align: center;
    padding-left: 40px;

    
  }
  .con4{
    margin-top: 6px;
    margin-left: 65px;
    height: 60px;
    width: 98%;
    display: flex;
  }
  .con4txt{
    /*border: 2px solid black; */
    height: 60px;
    width: 80%;
    
  }
  .con4txt1{
    /* border: 2px solid black; */
    height: 28px;
    width: 100%;
    
    font-weight: bold;
    font-size: 17px;}
.heading{
  padding-left: 50px;
  font-weight: 600;
  margin: 20px;

}
  /* .cards{
    width: 100px;
    height: 200px;
    display: flex;
    margin: 10px 10px 10px 10px;
  } */
  .footer{
    background-color: rgb(238, 232, 232);
    padding: 33px;
    margin-top: 44px;
 }
 .footer img{
   margin-left: 39%;
    width: 22%;
    border-top:2px solid gray ;
 }
 .footer .icon{
    display: flex;
    justify-content: center;
 }
 .icon i{
    margin-inline: 22px;
    font-size: 33px;
 }
.containerpre{
  background-color:rgb(43, 49, 72);
  color:white;
  padding-bottom: 60px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.prelogo img{
  width: 100%;
}
.containerlau{
  margin-bottom: 30px;
}
.con p{
  margin-left: 30px;
}
footer{
  background-color: rgb(49, 48, 53);
  color: white;
  margin-top:50px ;
}
.listshow{
  display:flex;
  height: 80px;
  width: 100%;
}
.listimg{
  height: 80px;
  margin-left: 10px;
    float: left;
}

.listshow button{
  width: 90%;
  height: 40px;
 
  margin-right: 20px;
  float: right;
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgb(248, 68, 100);
  font-size: 16px;
  font-weight: 500;
  
    
}

.butt{
  margin-right: 20px;
}

.que{
  display: flex;
  justify-content: center;
    justify-content: space-around;
    background-color: #404043;
    height: 120px;
}
.listtxt{
  display:flex;
  justify-content:space-evenly;
  margin-top: 20px;
  height: 50px;

}
.listtxt1{
  height: 25px;
    margin-right: 20px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.listtxt2{
  font-weight: 400;
  font-size: 15px;
  margin-right: 100px;
  margin-top: 4px;
}

.centered image {
  max-width: 125px;
  max-height: 50px;
  display: block;
  margin-top: 30px;
  display: flex;
  margin-left: 200px;
}
.container1{
  width:100%;
  height:60px;
  /*border: 2px solid black;*/
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.horizontal-line {
  height: 1px;
  background-color:rgb(93, 93, 95); 
  flex-grow: 1;
}

.left {
  margin-right: 5px; 
}

.right {
  margin-left: 5px;
}
.centered-image {
  max-width: 125px;
  max-height: 50px; /* Adjust the max height as needed */
  display: block;
  margin-top: 10px !important;
}

.copyrighttext{
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  color: rgb(102, 102, 102)
}
.icon{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;;

}
